@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.hr {
  background: rgba(113, 106, 108, 0.4);
  width: 100%;
  height: 1px;
}

button {
  cursor: pointer;
  outline: none;
}

#hideNumber.hideNumber,
#hideNumberBg.hideNumberBg,
#hideRegisterBg.hideRegisterBg,
#hideRegister.hideRegister,
#hideCartBg.hideCartBg,
#hideCart.hideCart,
#active.active,
#hideMenu.hideMenu,
#hideBg.hideBg {
  display: block;
}

#closeMenu-icon.closeMenu-icon {
  background: #0aa198 url(../img/png/menu-close.png) no-repeat 50% 50%;
}

#closeCart.closeCart {
  background: white;
}

#closeCart.closeCart .quantity {
  background: #726a6c;
}

#closeCart.closeCart button {
  background: transparent url(../img/png/close-4.png) no-repeat 50% 50%;
}

#closeRegister-rotate.closeRegister-rotate,
#closeRegister.closeRegister,
#closeNumber.closeNumber {
  color: transparent;
  background: #fff url(../img/png/close-3.png) no-repeat 50% 50%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 20px 0 20px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search .searchInput {
  border: none;
  border-bottom: 1px solid #eae9e9;
  padding: 14px 0 12px 39px;
  background: transparent url(../img/png/search.png) no-repeat 0 50%;
  font-size: 12px;
  color: #b8b4b5;
  outline: none;
  width: 560px;
}

.header__buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons .advancedSearch {
  width: 50px;
  line-height: 38px;
  border: none;
  margin-left: -4px;
  height: 40px;
  background: #716a6c url(../img/png/advancedSearch.png) no-repeat 50% 50%;
  cursor: pointer;
}

.header__buttons .advancedSearch:hover {
  background: #716a6c url(../img/png/close.png) no-repeat 50% 50%;
}

.header__buttons .advancedSearch:hover .hideMenu {
  display: block;
}

.header__buttons .advancedSearch .hideMenu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  left: -370px;
  text-align-last: left;
  font-size: 16px;
  color: #716a6c;
  font-weight: bold;
  background: #ffffff;
  z-index: 150;
  padding: 34px 30px 40px 30px;
}

.header__buttons .advancedSearch .hideMenu .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 22px 0;
}

.header__buttons .advancedSearch .hideMenu .block input,
.header__buttons .advancedSearch .hideMenu .block select {
  border: none;
  border: 1px solid #cacaca;
  border-radius: 3px;
  padding: 5px;
  width: 180px;
  color: grey;
}

.header__buttons .advancedSearch .hideMenu .block .select-price {
  width: 80px;
}

.header__buttons .button-search {
  padding: 13px 20px 12px 22px;
  border: none;
  background: #0aa198;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin-left: -4px;
  cursor: pointer;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li {
  list-style: none;
}

.header__nav li:first-child a {
  border-right: 1px solid #dbdada;
}

.header__nav li a {
  text-decoration: none;
  color: #716a6c;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 0 20px;
  font-size: 13px;
}

.header__nav li .danger {
  color: #d87171;
  padding-right: 20px;
}

.header__nav .button-adaptiveSearch {
  display: none;
  width: 20px;
  height: 19px;
  background: transparent url(../img/png/search.png) no-repeat 50% 50%;
  border: none;
  margin-left: 40px;
  margin-right: 20px;
}

.header__menu {
  margin-top: 65px;
  position: relative;
}

.header__menu:after {
  content: "";
  width: 100%;
  height: 1px;
  margin: -2px auto 0;
  background: #eae9e9;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu:hover:after {
  visibility: visible;
  opacity: 1;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}

.header__menu ul button.points {
  margin: 0 0 0 auto;
  padding: 0;
  width: 20px;
  height: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent url(../img/png/points.png) no-repeat 50% 50%;
}

.header__menu ul li {
  list-style: none;
  margin-right: 30px;
}

.header__menu ul li:hover .header_subMenu {
  display: block;
}

.header__menu ul li a {
  text-decoration: none;
  font-size: 17px;
  color: #716a6c;
  cursor: pointer;
}

.header__menu ul li a:after {
  content: "";
  width: 100%;
  height: 3px;
  margin: 28px auto 0;
  background: #0aa198;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu ul li a:hover {
  color: #0aa198;
}

.header__menu ul li a:hover:after {
  visibility: visible;
  opacity: 1;
}

.header__menu .header_subMenu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  padding-bottom: 135px;
  z-index: 450;
}

.header__menu .header_subMenu .row {
  max-width: 1400px;
  margin: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu .header_subMenu .column {
  width: 25%;
}

.header__menu .header_subMenu ul {
  display: block;
  margin: 35px 0 0 0;
  font-size: 17px;
  color: #716a6c;
  width: 100%;
  padding: 0;
}

.header__menu .header_subMenu ul a:hover {
  color: #0aa198;
}

.header__menu .header_subMenu ul a:after {
  content: "";
  width: 10;
  height: 0;
  margin: 0;
}

.header__menu .header_subMenu ul li {
  list-style: outside;
  margin: 16px 0 0 20px;
  color: #b6b2b3;
}

.header__menu .header_subMenu ul li:hover {
  color: #0aa198;
}

.header__menu .header_subMenu ul li a {
  color: #b6b2b3;
}

.header__menu .header_subMenu ul li a:hover {
  color: #0aa198;
}

.header__menu .header_subMenu ul li a:after {
  content: "";
  width: 10;
  height: 0;
  margin: 0;
}

.header__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.header__background img {
  width: 100%;
}

.header__content {
  margin-top: -171px;
}

.header__card {
  display: inline-block;
  vertical-align: bottom;
  background: #fff;
  max-width: 560px;
  width: 100%;
  padding: 20px 30px 30px 0;
}

.header__title {
  font-family: "Montserrat";
  font-size: 30px;
  color: #716a6c;
  font-weight: 400;
}

.header__subtitle {
  opacity: 0.8;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.header__button {
  display: inline-block;
  vertical-align: bottom;
  background-color: #0aa198;
  padding: 20px;
  color: #fff;
  border: none;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.29px;
}

.leftSideBar__menu {
  position: absolute;
  left: 0;
  z-index: 400;
  top: 0%;
  height: 100%;
  width: 50px;
  background: #fff;
}

.leftSideBar__menu-items {
  position: absolute;
  top: 50%;
  left: -225px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.leftSideBar__menu-items a {
  color: #716a6c;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
}

.leftSideBar__menu .close {
  background: #f4f4f2 url(../img/png/close-2.png) no-repeat 50% 50%;
}

.leftSideBar__menu button, .leftSideBar__menu__openButton {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: transparent url(../img/png/arrow.png) no-repeat 50% 50%;
  border: none;
  width: 50px;
  height: 40px;
  cursor: pointer;
  outline: none;
  display: block;
}

.leftSideBar__pull-out {
  display: none;
}

.leftSideBar__bg {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  height: 100%;
  width: calc(100% - 50px);
  background: #000;
  opacity: .54;
}

.leftSideBar__open {
  position: absolute;
  top: 0;
  left: 50px;
  height: 100%;
  width: 310px;
  text-align: left;
  padding-left: 30px;
  background: #f4f4f2;
}

.leftSideBar__open-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 25%;
}

.leftSideBar__open .block .title {
  color: #716a6c;
  font-family: "Montserrat - Semi Bold";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  padding-bottom: 9px;
  padding-top: 9px;
}

.leftSideBar__open .block a,
.leftSideBar__open .block .a,
.leftSideBar__open .block .text {
  color: #716a6c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-decoration: none;
  padding-bottom: 9px;
  padding-top: 9px;
  max-width: 280px;
}

.rightSideBar__fullWBg {
  width: 50px;
  background: #716a6c;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.rightSideBar__nav {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  background: #716a6c;
  z-index: 500;
}

.rightSideBar__nav-top {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #716a6c;
}

.rightSideBar__nav-top .register-top,
.rightSideBar__nav-top .compare-top,
.rightSideBar__nav-top .cart-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.rightSideBar .button button {
  border: none;
  width: 50px;
  height: 35px;
}

.rightSideBar .button-2 button {
  border: none;
  width: 50px;
  height: 61px;
}

.rightSideBar .quantity {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 12px;
  margin: 0 auto;
  line-height: 30px;
}

.rightSideBar__bg {
  position: absolute;
  top: 0;
  left: 0px;
  right: 50px;
  height: 100%;
  width: calc(100% - 50px);
  background: #000;
  opacity: .54;
  z-index: 450;
  display: none;
}

.rightSideBar__hideMenu {
  display: none;
  position: absolute;
  top: 0;
  right: 50px;
  background: #00a29a;
  width: 310px;
  height: 100%;
  z-index: 500;
}

.rightSideBar__hideMenu ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  position: relative;
}

.rightSideBar__hideMenu ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightSideBar__hideMenu ul li:hover {
  background: #fff;
}

.rightSideBar__hideMenu ul li:hover a {
  color: #726a6c;
}

.rightSideBar__hideMenu ul li:hover .rightSidebar__hideMenu-items {
  display: block;
}

.rightSideBar__hideMenu ul li a {
  text-decoration: none;
  width: 100%;
  padding: 17px 0 13px 21px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightSideBar__hideMenu ul li a img {
  margin-left: 10px;
}

.rightSideBar__menuButton button {
  border: none;
  width: 50px;
  height: 50px;
  background: #0aa198 url(../img/png/menu.png) no-repeat 50% 50%;
}

.rightSideBar__hideCart .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightSideBar__hideCart .top .title {
  font-size: 20px;
  color: #726a6c;
  font-weight: bold;
  margin-right: 20px;
}

.rightSideBar__hideCart .top a {
  color: #00a29a;
}

.rightSideBar__hideCart .products-cart {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e0df;
}

.rightSideBar__hideCart .products-cart .image {
  width: 61px;
  height: 61px;
}

.rightSideBar__hideCart .products-cart .image img {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rightSideBar__hideCart .products-cart .right {
  width: 190px;
  font-size: 18px;
  color: #9a9495;
}

.rightSideBar__hideCart .products-cart .quantity {
  width: 100px;
  height: 40px;
  margin: 15px 0;
  color: #726a6c;
  font-size: 20px;
}

.rightSideBar__hideCart .products-cart .quantity input {
  width: 100px;
  height: 40px;
  border: none;
  text-align: center;
}

.rightSideBar__hideCart .products-cart .price {
  color: #726a6c;
  font-size: 20px;
  font-weight: bold;
}

.rightSideBar__hideCart .total {
  margin-top: 25px;
  margin-bottom: 25px;
}

.rightSideBar__hideCart .total .title {
  font-size: 18px;
  color: #9a9495;
}

.rightSideBar__hideCart .total .price {
  color: #726a6c;
  font-size: 20px;
  font-weight: bold;
}

.rightSideBar__hideCart .buttons button {
  width: 100%;
  margin: 5px 0;
  padding: 27px 0 24px 0;
  border: none;
  background: #00a29a;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.rightSideBar__hideCart .buttons button:hover {
  color: #726a6c;
}

.rightSideBar__hideCart, .rightSideBar__hideRegister, .rightSideBar__hideNumber {
  display: none;
  position: absolute;
  top: 0;
  right: 50px;
  background: #f4f4f2;
  width: 271px;
  height: calc(100% - 33px);
  z-index: 500;
  padding: 33px 30px 0 29px;
}

.rightSideBar__hideCartBg, .rightSideBar__hideRegisterBg, .rightSideBar__hideNumberBg {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  height: 100%;
  width: calc(100% - 50px);
  background: #000;
  opacity: .54;
  z-index: 450;
  display: none;
}

.rightSideBar__hideRegister {
  height: calc(100% - 260px);
  padding: 260px 30px 0 29px;
}

.rightSideBar__hideRegister .title {
  font-size: 20px;
  color: #726a6c;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 15px;
}

.rightSideBar__hideRegister form input {
  margin: 5px 0;
  border: none;
  padding: 20px;
  width: 230px;
  outline: none;
}

.rightSideBar__hideRegister button {
  border: none;
  width: 100%;
  background: #00a29a;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  margin: 5px 0 20px 0;
}

.rightSideBar__hideRegister .link {
  margin: 8px 0;
}

.rightSideBar__hideRegister .link a {
  text-transform: uppercase;
  color: #726a6c;
  font-weight: bold;
}

.rightSideBar__hideRegister .link a:hover {
  color: #00a29a;
}

.rightSideBar__hideRegister .socials {
  margin-top: 30px;
  margin-bottom: 18px;
}

.rightSideBar__hideRegister .socials .sub-title {
  margin-bottom: 15px;
  color: #726a6c;
  font-size: 20px;
}

.rightSideBar__hideRegister .confirm {
  padding-top: 18px;
  color: #9a9495;
  font-size: 19px;
}

.rightSideBar__hideRegister .confirm a {
  color: #726a6c;
}

.rightSideBar__cart, .rightSideBar__compare {
  padding: 20px 0 15px 0;
}

.rightSideBar__cartQuantity {
  background: #cf1b3c;
}

.rightSideBar__cart {
  margin-top: -4px;
}

.rightSideBar__cartButton button {
  background: transparent url(../img/png/cart.png) no-repeat 50% 50%;
}

.rightSideBar__compareQuantity {
  background: #ffba00;
}

.rightSideBar__compareButton {
  z-index: 50;
}

.rightSideBar__compareButton button {
  background: transparent url(../img/png/compare.png) no-repeat 50% 50%;
}

.rightSideBar__registerButton {
  display: none;
}

.rightSideBar__registerButton button {
  width: 61px;
  background: transparent url(../img/png/register.png) no-repeat 50% 50%;
}

.rightSideBar__registerButton-rotate {
  position: absolute;
  top: calc(50% + 150px);
  left: -75px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  margin: 0;
}

.rightSideBar__registerButton-rotate button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  height: 51px;
  padding: 0 20px;
}

.rightSideBar__number {
  display: none;
  position: absolute;
  top: calc(50% + 150px);
  left: -75px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  margin: 0;
}

.rightSideBar__number a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.61px;
  text-decoration: none;
  margin-right: 5px;
}

.rightSideBar__number button {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
  padding: 0;
  margin: 0;
  background: transparent url(../img/png/arrow-w.png) no-repeat 50% 50%;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
  width: 50px;
  padding: 0 20px;
}

.rightSideBar__open {
  background: #f4f4f2;
}

.rightSideBar__open-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 25%;
}

.rightSideBar__open .block .title {
  color: #716a6c;
  font-family: "Montserrat - Semi Bold";
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  padding-bottom: 9px;
  padding-top: 9px;
}

.rightSideBar__open .block a,
.rightSideBar__open .block .a,
.rightSideBar__open .block .text {
  color: #716a6c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-decoration: none;
  padding-bottom: 9px;
  padding-top: 9px;
}

.rightSideBar__open .block .socials a {
  margin-right: 20px;
}

.rightSidebar__hideMenu-items {
  display: none;
}

.rightSidebar__hideMenu-items .row {
  position: absolute;
  top: 0;
  right: 310px;
  min-width: 1080px;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.rightSidebar__hideMenu-items .row .column {
  width: 33%;
}

.rightSidebar__hideMenu-items .row .column ul {
  display: block;
  margin: 35px 0 0 0;
  font-size: 17px;
  color: #716a6c;
  width: 100%;
  padding: 0;
}

.rightSidebar__hideMenu-items .row .column ul a:hover {
  color: #0aa198;
}

.rightSidebar__hideMenu-items .row .column ul li {
  list-style: outside;
  margin: 16px 0 0 20px;
  color: #b6b2b3;
}

.rightSidebar__hideMenu-items .row .column ul li:hover {
  color: #0aa198;
  background: transparent;
}

.rightSidebar__hideMenu-items .row .column ul li a {
  color: #b6b2b3;
}

.rightSidebar__hideMenu-items .row .column ul li a:hover {
  color: #0aa198;
}

.advantages {
  margin: 50px 0;
}

.advantages__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  width: calc(100% / 4 - 20px);
  margin-right: 10px;
}

.advantages__icon {
  margin-right: 15px;
}

.advantages__icon img {
  width: 100%;
}

.advantages__title {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.advantages__subtitle {
  opacity: 0.7;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.65px;
}

.services__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.services__title {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 0.21px;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.services__card {
  position: relative;
  width: calc(100% / 3 - 40px);
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.services__card:hover .services__item {
  opacity: 1;
}

.services__card:hover .services__title:after {
  content: url("../img/png/strelka.png");
}

.services__item {
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services__link {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  padding: 5px 0 0;
  cursor: pointer;
  list-style-type: none;
}

.services__link:before {
  content: '•';
  margin-right: 10px;
  font-size: 20px;
}

.services__link:hover {
  opacity: 1;
}

.services__link:hover .services__link:before {
  content: '›';
  margin-right: 10px;
  font-size: 20px;
}

.services__button {
  max-width: 1160px;
  width: 100%;
  margin: 0 20px;
  padding: 10px 0;
  background: none;
  border: 1px solid #f1f1f1;
  text-align: center;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.31px;
}

.services__button:after {
  content: '›';
  color: #fff;
  text-align: center;
  background: #0aa198;
  border-radius: 50%;
  padding: 0px 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popular {
  margin-top: 70px;
}

.popular__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.popular__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__title {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin: 10px 0;
}

.popular__more {
  background: none;
  border: none;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.popular__more:after {
  content: '›';
  color: #fff;
  text-align: center;
  background: #0aa198;
  border-radius: 50%;
  padding: 0px 6px;
}

.popular__item {
  width: calc(100% / 4 - 20px);
  margin: 30px 0;
}

.popular__image {
  position: relative;
}

.popular__image:hover .popular__itemHover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular__image img {
  width: 100%;
}

.popular__itemHover {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popular__widget {
  background: none;
  border: 1px solid #fff;
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popular__widget:hover {
  background: #0aa198;
  border: 1px solid #0aa198;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular__price {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0;
}

.popular__sale {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  margin: 5px 10px;
}

.popular__about {
  opacity: 0.7;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0;
}

.popular .slick-initialized .slick-slide {
  outline: none;
}

.popular__slider .slick-dots li.slick-active {
  vertical-align: middle;
  margin: 0;
}

.popular__slider .slick-dots li.slick-active button {
  background: #0ba29a;
  height: 7px;
  width: 7px;
  border: 1px solid #0ba29a;
}

.popular__slider .slick-dots li {
  vertical-align: middle;
  margin: 0;
}

.popular__slider .slick-dots li button:before {
  content: '';
}

.popular__slider .slick-dots li button {
  background: none;
  border: 1px solid #716a6c;
  border-radius: 50%;
  height: 2px;
  width: 2px;
}

.popular__slider .slick-prev {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0 0 10px;
  border: 2px solid #716a6c;
}

.popular__slider .slick-prev:before {
  content: '‹';
  color: #716a6c;
}

.popular__slider .slick-prev:hover {
  border: 2px solid #0aa198;
}

.popular__slider .slick-prev:hover .slick-prev:before {
  color: #0aa198;
}

.popular__slider .slick-next {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0 0 10px;
  border: 2px solid #716a6c;
}

.popular__slider .slick-next:before {
  content: '›';
  color: #716a6c;
}

.popular__slider .slick-next:hover {
  border: 2px solid #0aa198;
}

.popular__slider .slick-next:hover .slick-prev:before {
  color: #0aa198;
}

.newItems {
  margin-top: 70px;
}

.newItems__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.newItems__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newItems__title {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin: 10px 0;
}

.newItems__more {
  background: none;
  border: none;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.newItems__more:after {
  content: '›';
  color: #fff;
  text-align: center;
  background: #0aa198;
  border-radius: 50%;
  padding: 0px 6px;
}

.newItems .hr {
  background: rgba(113, 106, 108, 0.4);
  width: 100%;
  height: 1px;
}

.newItems__item {
  width: calc(100% / 4 - 20px);
  margin: 30px 0;
}

.newItems__image {
  position: relative;
}

.newItems__image:hover .newItems__itemHover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newItems__image img {
  width: 100%;
}

.newItems__itemHover {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newItems__widget {
  background: none;
  border: 1px solid #fff;
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newItems__widget:hover {
  background: #0aa198;
  border: 1px solid #0aa198;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newItems__price {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0;
}

.newItems__sale {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  margin: 5px 10px;
}

.newItems__about {
  opacity: 0.7;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0;
}

.newItems .slick-initialized .slick-slide {
  outline: none;
}

.newItems__slider .slick-dots li.slick-active {
  vertical-align: middle;
  margin: 0;
}

.newItems__slider .slick-dots li.slick-active button {
  background: #0ba29a;
  height: 7px;
  width: 7px;
  border: 1px solid #0ba29a;
}

.newItems__slider .slick-dots li {
  vertical-align: middle;
  margin: 0;
}

.newItems__slider .slick-dots li button:before {
  content: '';
}

.newItems__slider .slick-dots li button {
  background: none;
  border: 1px solid #716a6c;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.newItems__slider .slick-prev {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0 0 10px;
  border: 2px solid #716a6c;
}

.newItems__slider .slick-prev:before {
  content: '‹';
  color: #716a6c;
}

.newItems__slider .slick-prev:hover {
  border: 2px solid #0aa198;
}

.newItems__slider .slick-prev:hover .slick-prev:before {
  color: #0aa198;
}

.newItems__slider .slick-next {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0 0 10px;
  border: 2px solid #716a6c;
}

.newItems__slider .slick-next:before {
  content: '›';
  color: #716a6c;
}

.newItems__slider .slick-next:hover {
  border: 2px solid #0aa198;
}

.newItems__slider .slick-next:hover .slick-prev:before {
  color: #0aa198;
}

.stock {
  margin: 100px 0 300px;
}

.stock .slick-initialized .slick-slide {
  outline: none;
}

.stock__box {
  position: relative;
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stock__image {
  max-width: 680px;
  width: 100%;
  position: relative;
  margin: 0 0 0 auto;
}

.stock__image img {
  width: 100%;
}

.stock__wrapper {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: matrix(1, 0, 0, 1, 200, -10);
          transform: matrix(1, 0, 0, 1, 200, -10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.stock .redBlock {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 60px;
  background-color: #d87171;
  z-index: -1;
}

.stock__card {
  display: block;
  position: relative;
  max-width: 580px;
  width: 100%;
  background: #fff;
  padding: 30px 30px 100px;
  z-index: 100;
}

.stock__redText {
  color: #d87171;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.stock__title {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.7px;
  margin: 30px 0 20px;
}

.stock__subtitle {
  color: #716a6c;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.32px;
  margin: 10px 0;
}

.stock__timerClock {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock__timerItem {
  border-radius: 50%;
  height: 57px;
  width: 70px;
  padding-top: 13px;
  border: 1px solid rgba(113, 106, 108, 0.15);
  text-align: center;
}

.stock__timerTitle {
  margin: 50px 0 30px 0;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
}

.stock__num {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.stock__timerName {
  opacity: 0.5;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.stock__dot {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.stock__button {
  display: inline-block;
  background-color: #d87171;
  padding: 20px;
  color: #fff;
  border: none;
  z-index: 100;
}

.stock__button:after {
  content: '›';
  color: #fff;
  margin-left: 10px;
}

.sponsor__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.sponsor__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.about {
  margin: 100px 0 300px;
}

.about__box {
  position: relative;
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__image {
  max-width: 680px;
  width: 100%;
  position: relative;
}

.about__image img {
  width: 100%;
}

.about__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: matrix(1, 0, 0, 1, -200, 0);
          transform: matrix(1, 0, 0, 1, -200, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .blueBlock {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 60px;
  background-color: #0aa198;
  z-index: -1;
}

.about__card {
  position: relative;
  max-width: 580px;
  background: #fff;
  padding: 30px 30px 100px;
  z-index: 100;
}

.about__title {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.7px;
  margin: 30px 0 20px;
}

.about__subtitle {
  color: #716a6c;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.32px;
  margin: 10px 0;
}

.about__button {
  display: inline-block;
  background-color: #0aa198;
  padding: 20px;
  color: #fff;
  border: none;
  z-index: 100;
}

.about__button:after {
  content: '›';
  color: #fff;
  margin-left: 10px;
}

.reviews__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__title {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.6px;
  margin: 10px 0;
}

.reviews__more {
  background: none;
  border: none;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.reviews__more:after {
  content: '›';
  color: #fff;
  text-align: center;
  background: #0aa198;
  border-radius: 50%;
  padding: 0px 6px;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.reviews__item {
  width: calc(100% / 2 - 20px);
}

.reviews__message {
  position: relative;
}

.reviews__messageImage {
  z-index: -1;
}

.reviews__textMessage {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #716a6c;
  padding: 0 20px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  z-index: 100;
}

.reviews__messageData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.reviews__userName {
  margin: 0;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.36px;
}

.reviews__icon {
  margin-right: 10px;
}

.reviews__data {
  margin: 0;
  opacity: 0.5;
  color: #716a6c;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  /* Text style for "1, 0.02.20" */
  letter-spacing: 0.26px;
}

.articles {
  margin-top: 100px;
}

.articles__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.articles__boxTitle {
  text-align: center;
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 0.6px;
}

.articles .slick-initialized .slick-slide {
  outline: none;
}

.articles__slider {
  margin-top: 50px;
}

.articles__item {
  position: relative;
}

.articles__images {
  max-width: 360px;
  width: 100%;
}

.articles__images img {
  width: 100%;
}

.articles__text {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px 20px;
  max-width: 360px;
  width: 100%;
  background: #fff;
  -webkit-transform: matrix(1, 0, 0, 1, -90, -20);
          transform: matrix(1, 0, 0, 1, -90, -20);
}

.articles__title {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.articles__subtitle {
  opacity: 0.7;
  color: #716a6c;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  /* Text style for "Поговорим" */
  letter-spacing: 0.3px;
}

.instagram {
  margin: 100px 0;
}

.instagram__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.instagram__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.instagram__text {
  color: #716a6c;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.27px;
  margin-right: 10px;
}

.instagram__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instagram__images {
  width: calc(100% / 4 - 20px);
}

.instagram__images img {
  width: 100%;
}

.submit {
  margin-bottom: 110px;
}

.submit__box {
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  text-align: center;
}

.submit__title {
  margin-top: 68px;
  color: #716a6c;
  font-family: "Montserrat - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.submit__subTitle {
  opacity: 0.7;
  color: #716a6c;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.submit__form {
  margin-top: 37px;
}

.submit__form input,
.submit__form button {
  border: 1px solid rgba(113, 106, 108, 0.2);
  background-color: #ffffff;
  margin: 0 10px;
}

.submit__form input {
  width: 198px;
  padding: 20px 0 19px 22px;
}

.submit__form button {
  width: 198px;
  background-color: #0aa198;
  padding: 20px 0 19px 0;
  color: #ffffff;
  font-family: "Montserrat - Semi Bold";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.footer {
  background-color: #0aa198;
  position: relative;
}

.footer__scrollTop {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.footer__scrollTop button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: #0aa198 url(../img/png/scroll-top.png) no-repeat 50% 50%;
}

.footer__box {
  padding: 100px 0;
  font-size: 0;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__column {
  width: 25%;
  border-left: 1px solid #6cc7c1;
  padding-left: 21px;
}

.footer__menu ul {
  padding: 0;
  margin: 0;
}

.footer__menu ul li {
  list-style: none;
  margin-bottom: 23px;
}

.footer__menu ul li a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-decoration: none;
}

.footer__container {
  margin-bottom: 43px;
}

.footer__container:last-child {
  margin-bottom: 0;
}

.footer__title {
  opacity: 0.85;
  color: #ffffff;
  font-family: "Montserrat - Semi Bold";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.footer__subTitle {
  opacity: 0.7;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.footer__socials a {
  margin-right: 15px;
}

.footer__copyright {
  margin-top: 80px;
}

.footer__copyright-text {
  margin-top: 15px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.footer__copyright-text p {
  padding: 0;
  margin: 0;
}

.footer__logo img {
  width: 100%;
  height: 100%;
}

.footer__sketches {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*# sourceMappingURL=main.css.map */